<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:context/applicationContext-core.xml"/>
    <import resource="classpath:context/applicationContext-demoda.xml"/>
    <context:property-placeholder location="/WEB-INF/conf/application.properties"/>
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.es.phoneshop.web.controller.ajax.convertors.CartToCartDto"/>
                <bean class="com.es.phoneshop.web.controller.pages.convertors.UpdateFormToMapConvertor"/>
                <bean class="com.es.phoneshop.web.controller.pages.convertors.CartToUpdateFormConvertor"/>
            </set>
        </property>
    </bean>
</beans>